<a href="https://colab.research.google.com/github/u1353279/MetOffice/blob/main/Radiation_T_test's_for_all_10_cities_(Final).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

***Statistical Testing for 10 cities***



T-test

Import Libraries

In [1]:
import pandas as pd
import numpy as np

# stats
from statsmodels.tsa.seasonal import seasonal_decompose
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf

# plotting
import seaborn as sns 
import plotly.express as px
import matplotlib.pyplot as plt

# settings
plt.style.use('seaborn')
plt.rcParams["figure.figsize"] = (16, 8)

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
import warnings
from pylab import rcParams
from scipy.stats import f_oneway
from scipy.stats import ttest_ind

In [10]:
%matplotlib inline
warnings.filterwarnings("ignore")
rcParams['figure.figsize'] = 20,10
rcParams['font.size'] = 30
sns.set()
np.random.seed(8)

In [11]:
def plot_distribution(inp):
    plt.figure()
    ax = sns.distplot(inp)
    plt.axvline(np.mean(inp), color="k", linestyle="dashed", linewidth=5)
    _, max_ = plt.ylim()
    plt.text(
        inp.mean() + inp.mean() / 10,
        max_ - max_ / 10,
        "Mean: {:.2f}".format(inp.mean()),
    )
    return plt.figure

In [28]:
def compare_2_groups(arr_1, arr_2, alpha, sample_size):
    stat, p = ttest_ind(arr_1, arr_2)
    print('Statistics=%.3f, p=%.3f' % (stat, p))
    if p > alpha:
        print('Same distributions (fail to reject H0)')
    else:
        print('Different distributions (reject H0)')

Little Rissington

In [40]:
Little_Rissington=pd.read_excel('/content/drive/MyDrive/PHD/little_rissington.xlsx')

Little_Rissington['Date'] = pd.to_datetime(Little_Rissington['Date'], format='%d/%m/%Y')

Little_Rissington.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Little_Rissington.ffill(inplace=True)

Radiation_Little_Rissington = Little_Rissington['Radiation(KJ/m2)']

In [12]:
Radiation_Little_Rissington = little_rissington['Radiation(KJ/m2)']

Monks Wood

In [39]:
Monks_Wood=pd.read_excel('/content/drive/MyDrive/PHD/Monks Wood.xlsx')

Monks_Wood['Date'] = pd.to_datetime(Monks_Wood['Date'], format='%d/%m/%Y')

Monks_Wood.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Monks_Wood.ffill(inplace=True)

Radiation_Monks_Wood = Monks_Wood['Radiation(KJ/m2)']

Bedford

In [37]:
Bedford=pd.read_excel('/content/drive/MyDrive/PHD/bedford.xlsx')

Bedford['Date'] = pd.to_datetime(Bedford['Date'], format='%d/%m/%Y')

Bedford.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Bedford.ffill(inplace=True)

Radiation_Bedford = Bedford['Radiation(KJ/m2)']

Waddington

In [35]:
Waddington=pd.read_excel('/content/drive/MyDrive/PHD/Waddington.xlsx')

Waddington['Date'] = pd.to_datetime(Waddington['Date'], format='%d/%m/%Y')

Waddington.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Waddington.ffill(inplace=True)

Radiation_Waddington = Waddington['Radiation(KJ/m2)']

Wittering

In [41]:
Wittering=pd.read_excel('/content/drive/MyDrive/PHD/Wittering.xlsx')

Wittering['Date'] = pd.to_datetime(Wittering['Date'], format='%d/%m/%Y')

Wittering.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Wittering.ffill(inplace=True)

Radiation_Wittering = Wittering['Radiation(KJ/m2)']

Nottingham

In [43]:
Nottingham=pd.read_excel('/content/drive/MyDrive/PHD/Nottingham.xlsx')

Nottingham['Date'] = pd.to_datetime(Nottingham['Date'], format='%d/%m/%Y')

Nottingham.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Nottingham.ffill(inplace=True)

Radiation_Nottingham = Nottingham['Radiation(KJ/m2)']

Sutton

In [45]:
Sutton=pd.read_excel('/content/drive/MyDrive/PHD/Sutton.xlsx')

Sutton['Date'] = pd.to_datetime(Sutton['Date'], format='%d/%m/%Y')

Sutton.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Sutton.ffill(inplace=True)

Radiation_Sutton = Sutton['Radiation(KJ/m2)']

Church Lawford

In [47]:
Church_lawford=pd.read_excel('/content/drive/MyDrive/PHD/Church Lawford.xlsx')

Church_lawford['Date'] = pd.to_datetime(Church_lawford['Date'], format='%d/%m/%Y')

Church_lawford.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Church_lawford.ffill(inplace=True)

Radiation_Church_lawford = Church_lawford['Radiation(KJ/m2)']

Coventry

In [49]:
Coventry=pd.read_excel('/content/drive/MyDrive/PHD/Coventry.xlsx')

Coventry['Date'] = pd.to_datetime(Coventry['Date'], format='%d/%m/%Y')

Coventry.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Coventry.ffill(inplace=True)

Radiation_Coventry = Coventry['Radiation(KJ/m2)']

Coleshill

In [52]:
Coleshill=pd.read_excel('/content/drive/MyDrive/PHD/Coleshill.xlsx')

Coleshill['Date'] = pd.to_datetime(Coleshill['Date'], format='%d/%m/%Y')

Coleshill.rename(columns={'Daily Maximum Temperature (0900-0900) (°C)': 'Max Temp',
                   'Daily Minimum Temperature (0900-0900) (°C)': 'Min Temp',
                  'Daily Mean Temperature (0900-0900) (°C)': 'Mean Temp',
          'Daily Total Rainfall (0900-0900)(mm)': 'Rainfall(mm)',
          'Daily Mean Windspeed (0100-2400) (kn)': 'Windspeed(kn)',
          'Daily Maximum Gust (0100-2400) (kn)': 'Max Gust(kn)',
          'Daily Total Global Radiation (KJ/m2)': 'Radiation(KJ/m2)'},
          inplace=True)

#propogate the last valid observation forward
Coleshill.ffill(inplace=True)

Radiation_Coleshill = Coleshill['Radiation(KJ/m2)']

Little Rissington vs Monks Wood (72.71 Miles, East)

In [30]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Monks_Wood_sampled = np.random.choice(Radiation_Monks_Wood, sample_size)
compare_2_groups(Little_Rissington_sampled, Monks_Wood_sampled, 0.05, sample_size)

Statistics=1.113, p=0.266
Same distributions (fail to reject H0)

Little Rissington vs Bedford (56.28 Miles, East)

In [38]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Bedford_sampled = np.random.choice(Radiation_Bedford, sample_size)
compare_2_groups(Little_Rissington_sampled, Bedford_sampled, 0.05, sample_size)

Statistics=-1.586, p=0.113
Same distributions (fail to reject H0)

Little Rissigton vs Waddington (102.04 Miles, North-East)

In [36]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Waddington_sampled = np.random.choice(Radiation_Waddington, sample_size)
compare_2_groups(Little_Rissington_sampled, Waddington_sampled, 0.05, sample_size)

Statistics=-0.094, p=0.925
Same distributions (fail to reject H0)

Little Rissigton vs Wittering (74.31 Miles, East)

In [42]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Wittering_sampled = np.random.choice(Radiation_Wittering, sample_size)
compare_2_groups(Little_Rissington_sampled, Wittering_sampled, 0.05, sample_size)

Statistics=0.146, p=0.884
Same distributions (fail to reject H0)

Little Rissington vs Nottingham (78.40 Miles, North)

In [44]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Nottingham_sampled = np.random.choice(Radiation_Nottingham, sample_size)
compare_2_groups(Little_Rissington_sampled, Nottingham_sampled, 0.05, sample_size)

Statistics=1.421, p=0.155
Same distributions (fail to reject H0)

Little Rissington vs Sutton (74.68 Miles, North)

In [46]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Sutton_sampled = np.random.choice(Radiation_Sutton, sample_size)
compare_2_groups(Little_Rissington_sampled, Sutton_sampled, 0.05, sample_size)

Statistics=1.711, p=0.087
Same distributions (fail to reject H0)

Little Rissington vs Church_lawford (38.58 Miles, North)

In [48]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Church_lawford_sampled = np.random.choice(Radiation_Church_lawford, sample_size)
compare_2_groups(Little_Rissington_sampled, Church_lawford_sampled, 0.05, sample_size)

Statistics=1.851, p=0.064
Same distributions (fail to reject H0)

Little Rissington vs Coventry (37.77 Miles, North)

In [50]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Coventry_sampled = np.random.choice(Radiation_Coventry, sample_size)
compare_2_groups(Little_Rissington_sampled, Coventry_sampled, 0.05, sample_size)

Statistics=-0.037, p=0.971
Same distributions (fail to reject H0)

Little Rissington vs Coleshill (42.24 Miles, North)

In [53]:
sample_size = 2000
Little_Rissington_sampled = np.random.choice(Radiation_Little_Rissington, sample_size)
Coleshill_sampled = np.random.choice(Radiation_Coleshill, sample_size)
compare_2_groups(Little_Rissington_sampled, Coleshill_sampled, 0.05, sample_size)

Statistics=0.567, p=0.571
Same distributions (fail to reject H0)